requests
pytz
tqdm
pyyaml
openai
pillow
python-dotenv
uvicorn
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-ollama
langchain-experimental
langchain-taiga
unstructured
discord.py
langgraph
duckduckgo-search
arxiv
spacy
wikipedia
youtube-search
langgraph-cli[inmem]
playwright
python-taiga
pymongo
langgraph-checkpoint-mongodb
langsmith